/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[H_CLEAN_HSP_A_P_AnswerPercent]
      ,[H_CLEAN_HSP_SN_P_AnswerPercent]
      ,[H_CLEAN_HSP_U_P_AnswerPercent]
      ,[H_CLEAN_LINEAR_SCORE_AnswerPercent]
      ,[H_CLEAN_STAR_RATING_AnswerPercent]
      ,[H_COMP_1_A_P_AnswerPercent]
      ,[H_COMP_1_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_1_SN_P_AnswerPercent]
      ,[H_COMP_1_STAR_RATING_AnswerPercent]
      ,[H_COMP_1_U_P_AnswerPercent]
      ,[H_COMP_2_A_P_AnswerPercent]
      ,[H_COMP_2_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_2_SN_P_AnswerPercent]
      ,[H_COMP_2_STAR_RATING_AnswerPercent]
      ,[H_COMP_2_U_P_AnswerPercent]
      ,[H_COMP_3_A_P_AnswerPercent]
      ,[H_COMP_3_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_3_SN_P_AnswerPercent]
      ,[H_COMP_3_STAR_RATING_AnswerPercent]
      ,[H_COMP_3_U_P_AnswerPercent]
      ,[H_COMP_4_A_P_AnswerPercent]
      ,[H_COMP_4_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_4_SN_P_AnswerPercent]
      ,[H_COMP_4_STAR_RATING_AnswerPercent]
      ,[H_COMP_4_U_P_AnswerPercent]
      ,[H_COMP_5_A_P_AnswerPercent]
      ,[H_COMP_5_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_5_SN_P_AnswerPercent]
      ,[H_COMP_5_STAR_RATING_AnswerPercent]
      ,[H_COMP_5_U_P_AnswerPercent]
      ,[H_COMP_6_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_6_N_P_AnswerPercent]
      ,[H_COMP_6_STAR_RATING_AnswerPercent]
      ,[H_COMP_6_Y_P_AnswerPercent]
      ,[H_COMP_7_A_AnswerPercent]
      ,[H_COMP_7_D_SD_AnswerPercent]
      ,[H_COMP_7_LINEAR_SCORE_AnswerPercent]
      ,[H_COMP_7_SA_AnswerPercent]
      ,[H_COMP_7_STAR_RATING_AnswerPercent]
      ,[H_HSP_RATING_0_6_AnswerPercent]
      ,[H_HSP_RATING_7_8_AnswerPercent]
      ,[H_HSP_RATING_9_10_AnswerPercent]
      ,[H_HSP_RATING_LINEAR_SCORE_AnswerPercent]
      ,[H_HSP_RATING_STAR_RATING_AnswerPercent]
      ,[H_QUIET_HSP_A_P_AnswerPercent]
      ,[H_QUIET_HSP_SN_P_AnswerPercent]
      ,[H_QUIET_HSP_U_P_AnswerPercent]
      ,[H_QUIET_LINEAR_SCORE_AnswerPercent]
      ,[H_QUIET_STAR_RATING_AnswerPercent]
      ,[H_RECMND_DN_AnswerPercent]
      ,[H_RECMND_DY_AnswerPercent]
      ,[H_RECMND_LINEAR_SCORE_AnswerPercent]
      ,[H_RECMND_PY_AnswerPercent]
      ,[H_RECMND_STAR_RATING_AnswerPercent]
      ,[H_STAR_RATING_AnswerPercent]
  FROM [UNRHealthcareData].[dbo].[vHCAHPSSurveyResponsePivot]

  SELECT 'label var ' + SUBSTRING(LOWER([HCAHPSMeasureCode]) + '_answerpercent', 1, 32) + ' "' + SUBSTRING(QuestionText, 1, 80) + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[HCAHPSSurveyResponse] mis
INNER JOIN [UNRHealthcareData].[dbo].[HCAHPSMeasure] m on m.HCAHPSMeasureId = mis.HCAHPSMeasureId
group by [HCAHPSMeasureCode], [QuestionText]