/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[SurveysCompleted]
      ,[SurveyResponseRate]
      ,[MeasureStartDate]
      ,[MeasureEndDate]
  FROM [UNRHealthcareData].[dbo].[HCAHPSSurvey]