/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[Combined SSI Measure Score_PerformanceRate]
      ,[HAI Condition/Procedure Score_PerformanceRate]
      ,[HAI_1_PerformanceRate]
      ,[HAI_2_PerformanceRate]
      ,[HAI_3_PerformanceRate]
      ,[HAI_4_PerformanceRate]
      ,[HF Condition/Procedure Score_PerformanceRate]
      ,[HF_1_PerformanceRate]
      ,[IMM_2_PerformanceRate]
      ,[MORT_30_AMI_PerformanceRate]
      ,[MORT_30_HF_PerformanceRate]
      ,[MORT_30_PN_PerformanceRate]
      ,[MSPB_1_PerformanceRate]
      ,[PN Condition/Procedure Score_PerformanceRate]
      ,[PN_3B_PerformanceRate]
      ,[PN_6_PerformanceRate]
      ,[Preventive Condition/Procedure Score_PerformanceRate]
      ,[PSI_90_SAFETY_PerformanceRate]
      ,[SCIP Condition/Procedure Score_PerformanceRate]
      ,[SCIP_CARD_2_PerformanceRate]
      ,[SCIP_INF_1_PerformanceRate]
      ,[SCIP_INF_2_PerformanceRate]
      ,[SCIP_INF_3_PerformanceRate]
      ,[SCIP_INF_4_PerformanceRate]
      ,[SCIP_INF_9_PerformanceRate]
      ,[SCIP_VTE_1_PerformanceRate]
      ,[SCIP_VTE_2_PerformanceRate]
      ,[Combined SSI Measure Score_AchievementPoints]
      ,[HAI Condition/Procedure Score_AchievementPoints]
      ,[HAI_1_AchievementPoints]
      ,[HAI_2_AchievementPoints]
      ,[HAI_3_AchievementPoints]
      ,[HAI_4_AchievementPoints]
      ,[HF Condition/Procedure Score_AchievementPoints]
      ,[HF_1_AchievementPoints]
      ,[IMM_2_AchievementPoints]
      ,[MORT_30_AMI_AchievementPoints]
      ,[MORT_30_HF_AchievementPoints]
      ,[MORT_30_PN_AchievementPoints]
      ,[MSPB_1_AchievementPoints]
      ,[PN Condition/Procedure Score_AchievementPoints]
      ,[PN_3B_AchievementPoints]
      ,[PN_6_AchievementPoints]
      ,[Preventive Condition/Procedure Score_AchievementPoints]
      ,[PSI_90_SAFETY_AchievementPoints]
      ,[SCIP Condition/Procedure Score_AchievementPoints]
      ,[SCIP_CARD_2_AchievementPoints]
      ,[SCIP_INF_1_AchievementPoints]
      ,[SCIP_INF_2_AchievementPoints]
      ,[SCIP_INF_3_AchievementPoints]
      ,[SCIP_INF_4_AchievementPoints]
      ,[SCIP_INF_9_AchievementPoints]
      ,[SCIP_VTE_1_AchievementPoints]
      ,[SCIP_VTE_2_AchievementPoints]
      ,[Combined SSI Measure Score_ImprovementPoints]
      ,[HAI Condition/Procedure Score_ImprovementPoints]
      ,[HAI_1_ImprovementPoints]
      ,[HAI_2_ImprovementPoints]
      ,[HAI_3_ImprovementPoints]
      ,[HAI_4_ImprovementPoints]
      ,[HF Condition/Procedure Score_ImprovementPoints]
      ,[HF_1_ImprovementPoints]
      ,[IMM_2_ImprovementPoints]
      ,[MORT_30_AMI_ImprovementPoints]
      ,[MORT_30_HF_ImprovementPoints]
      ,[MORT_30_PN_ImprovementPoints]
      ,[MSPB_1_ImprovementPoints]
      ,[PN Condition/Procedure Score_ImprovementPoints]
      ,[PN_3B_ImprovementPoints]
      ,[PN_6_ImprovementPoints]
      ,[Preventive Condition/Procedure Score_ImprovementPoints]
      ,[PSI_90_SAFETY_ImprovementPoints]
      ,[SCIP Condition/Procedure Score_ImprovementPoints]
      ,[SCIP_CARD_2_ImprovementPoints]
      ,[SCIP_INF_1_ImprovementPoints]
      ,[SCIP_INF_2_ImprovementPoints]
      ,[SCIP_INF_3_ImprovementPoints]
      ,[SCIP_INF_4_ImprovementPoints]
      ,[SCIP_INF_9_ImprovementPoints]
      ,[SCIP_VTE_1_ImprovementPoints]
      ,[SCIP_VTE_2_ImprovementPoints]
      ,[Combined SSI Measure Score_MeasureScore]
      ,[HAI Condition/Procedure Score_MeasureScore]
      ,[HAI_1_MeasureScore]
      ,[HAI_2_MeasureScore]
      ,[HAI_3_MeasureScore]
      ,[HAI_4_MeasureScore]
      ,[HF Condition/Procedure Score_MeasureScore]
      ,[HF_1_MeasureScore]
      ,[IMM_2_MeasureScore]
      ,[MORT_30_AMI_MeasureScore]
      ,[MORT_30_HF_MeasureScore]
      ,[MORT_30_PN_MeasureScore]
      ,[MSPB_1_MeasureScore]
      ,[PN Condition/Procedure Score_MeasureScore]
      ,[PN_3B_MeasureScore]
      ,[PN_6_MeasureScore]
      ,[Preventive Condition/Procedure Score_MeasureScore]
      ,[PSI_90_SAFETY_MeasureScore]
      ,[SCIP Condition/Procedure Score_MeasureScore]
      ,[SCIP_CARD_2_MeasureScore]
      ,[SCIP_INF_1_MeasureScore]
      ,[SCIP_INF_2_MeasureScore]
      ,[SCIP_INF_3_MeasureScore]
      ,[SCIP_INF_4_MeasureScore]
      ,[SCIP_INF_9_MeasureScore]
      ,[SCIP_VTE_1_MeasureScore]
      ,[SCIP_VTE_2_MeasureScore]
  FROM [UNRHealthcareData].[dbo].[vHVBPScorePivot]

  SELECT 'label var ' + REPLACE(REPLACE(SUBSTRING(LOWER([MeasureCode]) + '_performancerate', 1, 32), ' ', ''), '/', '') + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[HVBPScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + REPLACE(REPLACE(SUBSTRING(LOWER([MeasureCode]) + '_achievementpoints', 1, 32), ' ', ''), '/', '') + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[HVBPScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + REPLACE(REPLACE(SUBSTRING(LOWER([MeasureCode]) + '_improvementpoints', 1, 32), ' ', ''), '/', '') + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[HVBPScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + REPLACE(REPLACE(SUBSTRING(LOWER([MeasureCode]) + '_measurescore', 1, 32), ' ', ''), '/', '') + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[HVBPScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]

