/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[DRGId_38_AveragePayment]
      ,[DRGId_39_AveragePayment]
      ,[DRGId_190_AveragePayment]
      ,[DRGId_191_AveragePayment]
      ,[DRGId_192_AveragePayment]
      ,[DRGId_193_AveragePayment]
      ,[DRGId_219_AveragePayment]
      ,[DRGId_220_AveragePayment]
      ,[DRGId_221_AveragePayment]
      ,[DRGId_224_AveragePayment]
      ,[DRGId_225_AveragePayment]
      ,[DRGId_226_AveragePayment]
      ,[DRGId_227_AveragePayment]
      ,[DRGId_235_AveragePayment]
      ,[DRGId_236_AveragePayment]
      ,[DRGId_237_AveragePayment]
      ,[DRGId_243_AveragePayment]
      ,[DRGId_244_AveragePayment]
      ,[DRGId_247_AveragePayment]
      ,[DRGId_280_AveragePayment]
      ,[DRGId_281_AveragePayment]
      ,[DRGId_282_AveragePayment]
      ,[DRGId_291_AveragePayment]
      ,[DRGId_292_AveragePayment]
      ,[DRGId_293_AveragePayment]
      ,[DRGId_313_AveragePayment]
      ,[DRGId_328_AveragePayment]
      ,[DRGId_329_AveragePayment]
      ,[DRGId_330_AveragePayment]
      ,[DRGId_331_AveragePayment]
      ,[DRGId_353_AveragePayment]
      ,[DRGId_354_AveragePayment]
      ,[DRGId_355_AveragePayment]
      ,[DRGId_414_AveragePayment]
      ,[DRGId_417_AveragePayment]
      ,[DRGId_418_AveragePayment]
      ,[DRGId_419_AveragePayment]
      ,[DRGId_459_AveragePayment]
      ,[DRGId_460_AveragePayment]
      ,[DRGId_461_AveragePayment]
      ,[DRGId_462_AveragePayment]
      ,[DRGId_466_AveragePayment]
      ,[DRGId_467_AveragePayment]
      ,[DRGId_468_AveragePayment]
      ,[DRGId_469_AveragePayment]
      ,[DRGId_470_AveragePayment]
      ,[DRGId_471_AveragePayment]
      ,[DRGId_472_AveragePayment]
      ,[DRGId_473_AveragePayment]
      ,[DRGId_477_AveragePayment]
      ,[DRGId_478_AveragePayment]
      ,[DRGId_479_AveragePayment]
      ,[DRGId_490_AveragePayment]
      ,[DRGId_491_AveragePayment]
      ,[DRGId_507_AveragePayment]
      ,[DRGId_508_AveragePayment]
      ,[DRGId_515_AveragePayment]
      ,[DRGId_637_AveragePayment]
      ,[DRGId_656_AveragePayment]
      ,[DRGId_657_AveragePayment]
      ,[DRGId_658_AveragePayment]
      ,[DRGId_659_AveragePayment]
      ,[DRGId_668_AveragePayment]
      ,[DRGId_673_AveragePayment]
      ,[DRGId_674_AveragePayment]
      ,[DRGId_675_AveragePayment]
      ,[DRGId_713_AveragePayment]
      ,[DRGId_714_AveragePayment]
      ,[DRGId_743_AveragePayment]
      ,[DRGId_748_AveragePayment]
      ,[DRGId_38_Denominator]
      ,[DRGId_39_Denominator]
      ,[DRGId_190_Denominator]
      ,[DRGId_191_Denominator]
      ,[DRGId_192_Denominator]
      ,[DRGId_193_Denominator]
      ,[DRGId_219_Denominator]
      ,[DRGId_220_Denominator]
      ,[DRGId_221_Denominator]
      ,[DRGId_224_Denominator]
      ,[DRGId_225_Denominator]
      ,[DRGId_226_Denominator]
      ,[DRGId_227_Denominator]
      ,[DRGId_235_Denominator]
      ,[DRGId_236_Denominator]
      ,[DRGId_237_Denominator]
      ,[DRGId_243_Denominator]
      ,[DRGId_244_Denominator]
      ,[DRGId_247_Denominator]
      ,[DRGId_280_Denominator]
      ,[DRGId_281_Denominator]
      ,[DRGId_282_Denominator]
      ,[DRGId_291_Denominator]
      ,[DRGId_292_Denominator]
      ,[DRGId_293_Denominator]
      ,[DRGId_313_Denominator]
      ,[DRGId_328_Denominator]
      ,[DRGId_329_Denominator]
      ,[DRGId_330_Denominator]
      ,[DRGId_331_Denominator]
      ,[DRGId_353_Denominator]
      ,[DRGId_354_Denominator]
      ,[DRGId_355_Denominator]
      ,[DRGId_414_Denominator]
      ,[DRGId_417_Denominator]
      ,[DRGId_418_Denominator]
      ,[DRGId_419_Denominator]
      ,[DRGId_459_Denominator]
      ,[DRGId_460_Denominator]
      ,[DRGId_461_Denominator]
      ,[DRGId_462_Denominator]
      ,[DRGId_466_Denominator]
      ,[DRGId_467_Denominator]
      ,[DRGId_468_Denominator]
      ,[DRGId_469_Denominator]
      ,[DRGId_470_Denominator]
      ,[DRGId_471_Denominator]
      ,[DRGId_472_Denominator]
      ,[DRGId_473_Denominator]
      ,[DRGId_477_Denominator]
      ,[DRGId_478_Denominator]
      ,[DRGId_479_Denominator]
      ,[DRGId_490_Denominator]
      ,[DRGId_491_Denominator]
      ,[DRGId_507_Denominator]
      ,[DRGId_508_Denominator]
      ,[DRGId_515_Denominator]
      ,[DRGId_637_Denominator]
      ,[DRGId_656_Denominator]
      ,[DRGId_657_Denominator]
      ,[DRGId_658_Denominator]
      ,[DRGId_659_Denominator]
      ,[DRGId_668_Denominator]
      ,[DRGId_673_Denominator]
      ,[DRGId_674_Denominator]
      ,[DRGId_675_Denominator]
      ,[DRGId_713_Denominator]
      ,[DRGId_714_Denominator]
      ,[DRGId_743_Denominator]
      ,[DRGId_748_Denominator]
  FROM [UNRHealthcareData].[dbo].[vMedicareValuePivot]

  SELECT 'label var ' + SUBSTRING(LOWER('DRGId_' + CAST(mis.[DRGCodeId] as varchar)) + '_averagepayment', 1, 32) + ' "' + SUBSTRING([Name], 1, 80) + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[MedicareValue] mis
INNER JOIN [UNRHealthcareData].[dbo].[DRGCode] m on m.DRGCodeId = mis.DRGCodeId
group by mis.[DRGCodeId], [Name]
UNION
SELECT 'label var ' + SUBSTRING(LOWER('DRGId_' + CAST(mis.[DRGCodeId] as varchar)) + '_denominator', 1, 32) + ' "' + SUBSTRING([Name], 1, 80) + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[MedicareValue] mis
INNER JOIN [UNRHealthcareData].[dbo].[DRGCode] m on m.DRGCodeId = mis.DRGCodeId
group by mis.[DRGCodeId], [Name]