/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[COMP_HIP_KNEE_Score]
      ,[IQI_11_AAA_Score]
      ,[IQI_19_HIP_FX_Score]
      ,[IQI_91_CONDS_Score]
      ,[MORT_30_AMI_Score]
      ,[MORT_30_CABG_Score]
      ,[MORT_30_COPD_Score]
      ,[MORT_30_HF_Score]
      ,[MORT_30_PN_Score]
      ,[MORT_30_STK_Score]
      ,[PSI_11_POSTOP_RESPFAIL_Score]
      ,[PSI_12_POSTOP_PULMEMB_DVT_Score]
      ,[PSI_13_POST_SEPSIS_Score]
      ,[PSI_14_POSTOP_DEHIS_Score]
      ,[PSI_15_ACC_LAC_Score]
      ,[PSI_3_ULCER_Score]
      ,[PSI_4_SURG_COMP_Score]
      ,[PSI_6_IAT_PTX_Score]
      ,[PSI_7_CVCBI_Score]
      ,[PSI_8_POST_HIP_Score]
      ,[PSI_90_SAFETY_Score]
      ,[READM_30_AMI_Score]
      ,[READM_30_CABG_Score]
      ,[READM_30_COPD_Score]
      ,[READM_30_HF_Score]
      ,[READM_30_HIP_KNEE_Score]
      ,[READM_30_HOSP_WIDE_Score]
      ,[READM_30_PN_Score]
      ,[READM_30_STK_Score]
      ,[COMP_HIP_KNEE_LowerEstimate]
      ,[IQI_11_AAA_LowerEstimate]
      ,[IQI_19_HIP_FX_LowerEstimate]
      ,[IQI_91_CONDS_LowerEstimate]
      ,[MORT_30_AMI_LowerEstimate]
      ,[MORT_30_CABG_LowerEstimate]
      ,[MORT_30_COPD_LowerEstimate]
      ,[MORT_30_HF_LowerEstimate]
      ,[MORT_30_PN_LowerEstimate]
      ,[MORT_30_STK_LowerEstimate]
      ,[PSI_11_POSTOP_RESPFAIL_LowerEstimate]
      ,[PSI_12_POSTOP_PULMEMB_DVT_LowerEstimate]
      ,[PSI_13_POST_SEPSIS_LowerEstimate]
      ,[PSI_14_POSTOP_DEHIS_LowerEstimate]
      ,[PSI_15_ACC_LAC_LowerEstimate]
      ,[PSI_3_ULCER_LowerEstimate]
      ,[PSI_4_SURG_COMP_LowerEstimate]
      ,[PSI_6_IAT_PTX_LowerEstimate]
      ,[PSI_7_CVCBI_LowerEstimate]
      ,[PSI_8_POST_HIP_LowerEstimate]
      ,[PSI_90_SAFETY_LowerEstimate]
      ,[READM_30_AMI_LowerEstimate]
      ,[READM_30_CABG_LowerEstimate]
      ,[READM_30_COPD_LowerEstimate]
      ,[READM_30_HF_LowerEstimate]
      ,[READM_30_HIP_KNEE_LowerEstimate]
      ,[READM_30_HOSP_WIDE_LowerEstimate]
      ,[READM_30_PN_LowerEstimate]
      ,[READM_30_STK_LowerEstimate]
      ,[COMP_HIP_KNEE_HigherEstimate]
      ,[IQI_11_AAA_HigherEstimate]
      ,[IQI_19_HIP_FX_HigherEstimate]
      ,[IQI_91_CONDS_HigherEstimate]
      ,[MORT_30_AMI_HigherEstimate]
      ,[MORT_30_CABG_HigherEstimate]
      ,[MORT_30_COPD_HigherEstimate]
      ,[MORT_30_HF_HigherEstimate]
      ,[MORT_30_PN_HigherEstimate]
      ,[MORT_30_STK_HigherEstimate]
      ,[PSI_11_POSTOP_RESPFAIL_HigherEstimate]
      ,[PSI_12_POSTOP_PULMEMB_DVT_HigherEstimate]
      ,[PSI_13_POST_SEPSIS_HigherEstimate]
      ,[PSI_14_POSTOP_DEHIS_HigherEstimate]
      ,[PSI_15_ACC_LAC_HigherEstimate]
      ,[PSI_3_ULCER_HigherEstimate]
      ,[PSI_4_SURG_COMP_HigherEstimate]
      ,[PSI_6_IAT_PTX_HigherEstimate]
      ,[PSI_7_CVCBI_HigherEstimate]
      ,[PSI_8_POST_HIP_HigherEstimate]
      ,[PSI_90_SAFETY_HigherEstimate]
      ,[READM_30_AMI_HigherEstimate]
      ,[READM_30_CABG_HigherEstimate]
      ,[READM_30_COPD_HigherEstimate]
      ,[READM_30_HF_HigherEstimate]
      ,[READM_30_HIP_KNEE_HigherEstimate]
      ,[READM_30_HOSP_WIDE_HigherEstimate]
      ,[READM_30_PN_HigherEstimate]
      ,[READM_30_STK_HigherEstimate]
      ,[COMP_HIP_KNEE_Denominator]
      ,[IQI_11_AAA_Denominator]
      ,[IQI_19_HIP_FX_Denominator]
      ,[IQI_91_CONDS_Denominator]
      ,[MORT_30_AMI_Denominator]
      ,[MORT_30_CABG_Denominator]
      ,[MORT_30_COPD_Denominator]
      ,[MORT_30_HF_Denominator]
      ,[MORT_30_PN_Denominator]
      ,[MORT_30_STK_Denominator]
      ,[PSI_11_POSTOP_RESPFAIL_Denominator]
      ,[PSI_12_POSTOP_PULMEMB_DVT_Denominator]
      ,[PSI_13_POST_SEPSIS_Denominator]
      ,[PSI_14_POSTOP_DEHIS_Denominator]
      ,[PSI_15_ACC_LAC_Denominator]
      ,[PSI_3_ULCER_Denominator]
      ,[PSI_4_SURG_COMP_Denominator]
      ,[PSI_6_IAT_PTX_Denominator]
      ,[PSI_7_CVCBI_Denominator]
      ,[PSI_8_POST_HIP_Denominator]
      ,[PSI_90_SAFETY_Denominator]
      ,[READM_30_AMI_Denominator]
      ,[READM_30_CABG_Denominator]
      ,[READM_30_COPD_Denominator]
      ,[READM_30_HF_Denominator]
      ,[READM_30_HIP_KNEE_Denominator]
      ,[READM_30_HOSP_WIDE_Denominator]
      ,[READM_30_PN_Denominator]
      ,[READM_30_STK_Denominator]
      ,[COMP_HIP_KNEE_NationalComparisonCategory]
      ,[IQI_11_AAA_NationalComparisonCategory]
      ,[IQI_19_HIP_FX_NationalComparisonCategory]
      ,[IQI_91_CONDS_NationalComparisonCategory]
      ,[MORT_30_AMI_NationalComparisonCategory]
      ,[MORT_30_CABG_NationalComparisonCategory]
      ,[MORT_30_COPD_NationalComparisonCategory]
      ,[MORT_30_HF_NationalComparisonCategory]
      ,[MORT_30_PN_NationalComparisonCategory]
      ,[MORT_30_STK_NationalComparisonCategory]
      ,[PSI_11_POSTOP_RESPFAIL_NationalComparisonCategory]
      ,[PSI_12_POSTOP_PULMEMB_DVT_NationalComparisonCategory]
      ,[PSI_13_POST_SEPSIS_NationalComparisonCategory]
      ,[PSI_14_POSTOP_DEHIS_NationalComparisonCategory]
      ,[PSI_15_ACC_LAC_NationalComparisonCategory]
      ,[PSI_3_ULCER_NationalComparisonCategory]
      ,[PSI_4_SURG_COMP_NationalComparisonCategory]
      ,[PSI_6_IAT_PTX_NationalComparisonCategory]
      ,[PSI_7_CVCBI_NationalComparisonCategory]
      ,[PSI_8_POST_HIP_NationalComparisonCategory]
      ,[PSI_90_SAFETY_NationalComparisonCategory]
      ,[READM_30_AMI_NationalComparisonCategory]
      ,[READM_30_CABG_NationalComparisonCategory]
      ,[READM_30_COPD_NationalComparisonCategory]
      ,[READM_30_HF_NationalComparisonCategory]
      ,[READM_30_HIP_KNEE_NationalComparisonCategory]
      ,[READM_30_HOSP_WIDE_NationalComparisonCategory]
      ,[READM_30_PN_NationalComparisonCategory]
      ,[READM_30_STK_NationalComparisonCategory]
  FROM [UNRHealthcareData].[dbo].[vReadmCompDeathScorePivot]

  SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_score', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[ReadmCompDeathScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_lowerestimate', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[ReadmCompDeathScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_higherestimate', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[ReadmCompDeathScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_denominator', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[ReadmCompDeathScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_nationalcomparisoncategory', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[ReadmCompDeathScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]