/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderId]
      ,[DataYear]
      ,[AMI_1_Score]
      ,[AMI_10_Score]
      ,[AMI_2_Score]
      ,[AMI_3_Score]
      ,[AMI_4_Score]
      ,[AMI_5_Score]
      ,[AMI_7A_Score]
      ,[AMI_8A_Score]
      ,[CAC_1_Score]
      ,[CAC_2_Score]
      ,[CAC_3_Score]
      ,[ED_1B_Score]
      ,[ED_2B_Score]
      ,[EDV_Score]
      ,[HF_1_Score]
      ,[HF_2_Score]
      ,[HF_3_Score]
      ,[HF_4_Score]
      ,[IMM_1A_Score]
      ,[IMM_2_Score]
      ,[IMM_3_FAC_ADHPCT_Score]
      ,[IMM_3_OP_27_FAC_ADHPCT_Score]
      ,[OP_1_Score]
      ,[OP_18B_Score]
      ,[OP_2_Score]
      ,[OP_20_Score]
      ,[OP_21_Score]
      ,[OP_22_Score]
      ,[OP_23_Score]
      ,[OP_29_Score]
      ,[OP_30_Score]
      ,[OP_3B_Score]
      ,[OP_4_Score]
      ,[OP_5_Score]
      ,[OP_6_Score]
      ,[OP_7_Score]
      ,[PC_01_Score]
      ,[PN_1_Score]
      ,[PN_2_Score]
      ,[PN_3B_Score]
      ,[PN_4_Score]
      ,[PN_5C_Score]
      ,[PN_6_Score]
      ,[PN_7_Score]
      ,[SCIP_CARD_2_Score]
      ,[SCIP_INF_1_Score]
      ,[SCIP_INF_10_Score]
      ,[SCIP_INF_2_Score]
      ,[SCIP_INF_3_Score]
      ,[SCIP_INF_4_Score]
      ,[SCIP_INF_6_Score]
      ,[SCIP_INF_9_Score]
      ,[SCIP_VTE_1_Score]
      ,[SCIP_VTE_2_Score]
      ,[STK_1_Score]
      ,[STK_10_Score]
      ,[STK_2_Score]
      ,[STK_3_Score]
      ,[STK_4_Score]
      ,[STK_5_Score]
      ,[STK_6_Score]
      ,[STK_8_Score]
      ,[VTE_1_Score]
      ,[VTE_2_Score]
      ,[VTE_3_Score]
      ,[VTE_4_Score]
      ,[VTE_5_Score]
      ,[VTE_6_Score]
      ,[AMI_1_Sample]
      ,[AMI_10_Sample]
      ,[AMI_2_Sample]
      ,[AMI_3_Sample]
      ,[AMI_4_Sample]
      ,[AMI_5_Sample]
      ,[AMI_7A_Sample]
      ,[AMI_8A_Sample]
      ,[CAC_1_Sample]
      ,[CAC_2_Sample]
      ,[CAC_3_Sample]
      ,[ED_1B_Sample]
      ,[ED_2B_Sample]
      ,[EDV_Sample]
      ,[HF_1_Sample]
      ,[HF_2_Sample]
      ,[HF_3_Sample]
      ,[HF_4_Sample]
      ,[IMM_1A_Sample]
      ,[IMM_2_Sample]
      ,[IMM_3_FAC_ADHPCT_Sample]
      ,[IMM_3_OP_27_FAC_ADHPCT_Sample]
      ,[OP_1_Sample]
      ,[OP_18B_Sample]
      ,[OP_2_Sample]
      ,[OP_20_Sample]
      ,[OP_21_Sample]
      ,[OP_22_Sample]
      ,[OP_23_Sample]
      ,[OP_29_Sample]
      ,[OP_30_Sample]
      ,[OP_3B_Sample]
      ,[OP_4_Sample]
      ,[OP_5_Sample]
      ,[OP_6_Sample]
      ,[OP_7_Sample]
      ,[PC_01_Sample]
      ,[PN_1_Sample]
      ,[PN_2_Sample]
      ,[PN_3B_Sample]
      ,[PN_4_Sample]
      ,[PN_5C_Sample]
      ,[PN_6_Sample]
      ,[PN_7_Sample]
      ,[SCIP_CARD_2_Sample]
      ,[SCIP_INF_1_Sample]
      ,[SCIP_INF_10_Sample]
      ,[SCIP_INF_2_Sample]
      ,[SCIP_INF_3_Sample]
      ,[SCIP_INF_4_Sample]
      ,[SCIP_INF_6_Sample]
      ,[SCIP_INF_9_Sample]
      ,[SCIP_VTE_1_Sample]
      ,[SCIP_VTE_2_Sample]
      ,[STK_1_Sample]
      ,[STK_10_Sample]
      ,[STK_2_Sample]
      ,[STK_3_Sample]
      ,[STK_4_Sample]
      ,[STK_5_Sample]
      ,[STK_6_Sample]
      ,[STK_8_Sample]
      ,[VTE_1_Sample]
      ,[VTE_2_Sample]
      ,[VTE_3_Sample]
      ,[VTE_4_Sample]
      ,[VTE_5_Sample]
      ,[VTE_6_Sample]
  FROM [UNRHealthcareData].[dbo].[vTimelyEffectiveCareScorePivot]

  SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_score', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[TimelyEffectiveCareScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]
UNION
SELECT 'label var ' + SUBSTRING(LOWER([MeasureCode]) + '_sample', 1, 32) + ' "' + ISNULL(SUBSTRING(MeasureName, 1, 80), '') + '"' + char(13) + char(10)  
FROM [UNRHealthcareData].[dbo].[TimelyEffectiveCareScore] mis
INNER JOIN [UNRHealthcareData].[dbo].[Measure] m on m.MeasureId = mis.MeasureId
group by [MeasureCode], [MeasureName]